@use "color";

@mixin theme($color: color.$green-color) {
    color: $color;
}
%style-text {
    font-style: italic;
}
body {
    background-color: color.$orange-color;
}
h1 {
    @include theme;
    @extend %style-text;
}
p {
    @include theme($color: color.$white-color);
}
